body {
  color: #554E49;
}

.row {
  margin-bottom: 3em;
}

#header {
  text-align: center;
  margin: 2em 0 3em 0;
}

#header img {
  max-height: 60px;
  margin-bottom: 1em;
  opacity: .7;
}

#footer {
  margin: 1em 0;
}

#spinner {
  width: 2.3rem;
  display: none;
}

.alert-success {
  overflow: hidden;
}

input {
  display: block;
}

/* table-container {
  background-color: #1E1F25;
  border-radius: 20px;
  height: 244px;
  padding: 0 10px 10px 10px;
  overflow: scroll;
}

Table thead, tr{
  top: 0px;
  margin: 0 0 0 0;
  border: 1px solid black;
} */

th, td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 150px;
}
